.tag {
    border-radius: 64px;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
    word-spacing:30px;
    border: 2px solid #A0F4DC;  
    &--going {
        border: 2px solid #FCD3D4;
    }
}