.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 56px auto 0 auto;
    max-width: 90em;
}
@media screen and (max-width: 91em) {
    .content {
        margin: 24px 16px;
    }
    }
@media screen and (max-width: 1086px) {
.content {
    flex-direction: column;
    margin: 24px 16px;
}
}