.bd-list-item {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.bd-img{
    box-sizing: border-box;
    border-radius: 64px;
    width: 64px;
    height: 64px;
    margin: 10px 20px 10px 0;
}
.bd-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 15px 0 0 0;
}
.bd-data > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #696969;
}
span.bd-green {
    color:#008000;
}
span.bd-red {
    color:#FF0000;
}