.event {
    margin-bottom:25px;
}
.event__item {
    display: flex;
}
.event__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}
.event__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event__details {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #696969;
    
}
.event__date {
    box-sizing: border-box;
    border-radius: 64px;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px 20px 10px 0;
    word-spacing:30px;
    &--going {
        border: 2px solid #FCD3D4;
    }
    &--regular {
      border: 2px solid #A0F4DC;  
    }
}
.event__image {
    box-sizing: border-box;
    border-radius: 64px;
    width: 64px;
    height: 64px;
    margin: 10px 20px 10px 0;
}