.header {
  width:100%;
  background-color: #3B5BDB;
}
.header__nav-list {
  margin: 0 auto;
  max-width: var(--container-width);
  background-color: #3B5BDB;
  display:flex;
  flex-direction: row;
  padding:0 16px;
}
.burger {
  display:block;
}
.burger__line {
  display:block;
  width: 21px;
  height: 2px;
  background-color: #fff;
  margin:6px 10px 6px 0;
}
.header__btn {
  display: none;
  flex-direction: row;
  padding:21px;
  background-color: #3B5BDB;
  width:100%;
  border: none;
  cursor: pointer;
  color:#fff;
  font-size:16px;
  align-items: center;
}
.cross {
  height: 30px;
  display: inline-block;
  margin-right:10px;
  display:block;
}
.cross__line {
  display:block;
  width: 21px;
  height: 2px;
  background-color: #fff;
  position:relative;
  &:nth-child(1) {
    transform: rotate(-45deg);
    top:13px;
  }
  &:nth-child(2) {
    transform: rotate(45deg);
    top:11px;
  }
}
/*-- Responsive CSS --*/
@media screen and (max-width: 768px) {
  .header__btn {
    display: flex;
  }
  .header {
    position:sticky;
    top:0;
  }
  .header__nav-list {
    position: fixed;
    width: 100%;
    height: auto;
    top:-206px;
    left: 0;
    transition: 0.5s;
    z-index:-1;
    flex-direction: column;
    padding:0;
    &--open {
      top:70px;
    }
  }
  .header__nav-item {
    width: 100%;
  }
  .header__nav-link {
    padding: 15px 15px;
    text-align: left;
  }
}
      