.sidebar {
    flex: 2 0 0;
    margin:24px 0 0 20px;
    min-width: 290px;
}
@media screen and (max-width: 91em) {
    .sidebar {
        margin-left: 8px;
    }
    }
@media screen and (max-width: 375px) {
    .sidebar {
        margin-left:0;
    }
    }