.article {
    display:flex;
    flex-direction: column;
    margin-top: 24px;
    background-color: #fff;
    font-size: 16px;
}
.article__content {
    padding: 0 16px 16px;
}
.article__header {
    font-family: 'Roboto Slab', sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.02em;
}
article .article__img {
    width: 100%;
    height: auto;
}
.article__info {
    font-weight: 400;
    line-height: 19px;
    color:#696969;
}
.article__stats {
    font-weight: 400;
    line-height: 19px;
    color:#696969;
    margin-bottom:0;
    margin-top:0;
}
.article__tags {
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.02em;
    color:#696969;
}
.article__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.article__bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 91em) {
    .article__header {
        font-size: 24px;
    }
}