.header__nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 24px;
    line-height:24px;
    text-decoration: none;
    &--active, &:hover {
        background-color: #364FC7;
    }
}
